.home-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  gap: 40px;
}

.home-texto {
  flex: 1;
  text-align: left;
}

.home-imagen {
  flex: 1;
}

.home-imagen img {
  width: 100%;
  height: auto;
  min-height: 300px;
  max-width: 600px;
  border-radius: 12px;
  object-fit: cover;
  display: block;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.2);
  background-color: rgba(96, 3, 3, 0.536);
}

p {
  margin-top: 20px;
}

.btn-home {
  display: block;
  margin: 20px auto 0 auto;
  text-decoration: none;
  border: none;
  outline: none;
  padding: 10px 25px;
  background: #000000;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: transform 0.2s ease-in-out;
}

.btn-home:hover {
  transform: scale(1.05);
}

a {
  text-decoration: none;
}