.item-detail {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.item-detail img {
  width: 300px;      
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  background-color: rgba(26, 21, 21, 0.621);
}