body {
  margin: 0;
  padding: 0;
}




nav {
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: rgb(147, 0, 0);
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}
