.Cards {
  background-color: rgb(92, 3, 3);
  border: 2px solid black;
  border-radius: 10px;
  padding: 16px;
  color: white;
  width: 220px;
  min-height: 420px;
  text-align: center;
  margin-top: 4px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.Cards img {
  width: 100%;
  max-width: 200px;
  height: 200px;
  display: block;
  object-fit: cover;
  border-radius: 8px;
  background-color: rgba(48, 31, 31, 0.496); 
  border-color: aliceblue;
}

.Cards h3 {
  margin: 10px 0 5px 0;
}

.Cards p {
  margin: 5px 0;
}

/* Contador */
.Cards div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 8px 0;
}

.Cards input {
  width: 40px;
  text-align: center;
}

button {
  box-shadow: none;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  border: 2px solid white;
  border-radius: 8px;
  padding: 5px;
}

button:hover {
  transform: scale(1.2);
  background-color: white;
  color: black;
}
