body {
    background-color: rgb(216, 3, 3);
    color: white;
}

h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;

}

footer {
    margin-right: 10px;
    padding: 10px;
    text-align: end;
}